<div class="row">
  <h2 class="col-12 text-center m-5">Resend confirmation instructions</h2>
</div>
<div class="row">
  <section class="col-8 offset-2 col-sm-6 offset-sm-3">
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control m-2', value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      </div>

      <div class="actions">
        <%= f.submit "Resend confirmation instructions", class: 'btn btn-primary m-2' %>
      </div>
    <% end %>
  </section>
</div>
<%= render "devise/shared/links" %>