<div class="card">
    <div class="card-header" id="qualification-heading-<%= qualification_counter %>">
        <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#qualification-collapse-<%= qualification_counter %>" aria-expanded="true" aria-controls="qualification-collapse-<%= qualification_counter %>">
            <%= qualification.name %>
        </button>
        </h2>
    </div>

    <div id="qualification-collapse-<%= qualification_counter %>" class="collapse show" aria-labelledby="qualification-heading-<%= qualification_counter %>" data-parent="#qualifications">
        <div class="card-body">
            <div class="row m-2">
                <p class="col-sm-1"><strong>Awarded: </strong></p>
                <p class="col-sm-10"><%= qualification.awarded_date %></p>
            </div>
            <p class="m-2"><strong>Grade: </strong> <%= qualification.grade || "None supplied" %></p>
            <p class="m-2"><strong>Details: </strong> <%= qualification.details || "None supplied" %></p>
            <p class="m-2"><strong>Expiry: </strong> <%= qualification.grade || "N/A" %></p>
            <p class="m-2"><strong>Certificate: </strong> 
                <% if qualification.certificate.present? %>
                    [<%= link_to('Download certificate', rails_blob_path(qualification.certificate, disposition: "attachment")) %>]
                <% else %>
                <% end %>
            </p>
        </div>
    </div>
</div>