<div class="row">
    <h2 class="col-10 m-5"><%= @method %> a qualification</h2>
</div>

<div class="row">
    <section class="col-10 offset-1">
        <%= bootstrap_form_with(model: [@user, @qualification], local: true, layout: :horizontal, class: "needs-validation", html: { novalidate: true }) do |f| %>
            <%= f.alert_message "Please fix the errors below." %>
            <%= f.text_field :name, required: true %>
            <%= f.date_field :awarded_date, required: true, max: Date.today %>
            <%= f.text_field :grade %>
            <%= f.text_area :details %>
            <%= f.date_field :expiry_date %>
            <%= f.file_field :certificate, multiple: false %>
            <div class="form-group row">
                <div class="col-sm-10 offset-2">
                    <%= f.primary "#{@method} qualification" %>
                </div>
            </div>
        <% end %>
    </section>
</div>