<!doctype html>
<html>
  <head lang="en">
    <title>Personal Development Plan</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <header id="header" class="row">
        <div class="col-12">
          <%= render 'layouts/header' %>
        </div>
      </header>
      <section id="messages" class="row">
        <div class="col-12">
          <%= render 'layouts/messages' %>
        </div>
      </section>
      <main>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
